.app {
  display: flex;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  height: 80vh;
}

/* Menu */

.menu {
  display: flex;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

/* Create Chat */

.create-chat-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.create-chat-modal-content {
  background-color: var(--background-color);
  margin: 13vh auto;
  padding: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.create-chat-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
}

.create-chat-modal-header button {
  position: absolute;
  left: 0;
}

.create-chat-modal-header p {
  font-size: 2rem;
}

.add-chat-users-list {
  margin-top: 2rem;
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: none;
}

.add-chat-users-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.add-chat-users-list p {
  margin-block: 0;
  flex: 1;
  font-size: 1.75rem;
  text-align: left;
  margin-left: 2rem;
}

.add-chat-users-list p span {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.add-chat-users {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  margin-inline-end: 1rem;
}

.add-chat-users input {
  margin-inline: 1rem;
  flex: 1;
  border-radius: 5px;
  font-size: 1.75rem;
  height: 2.75rem;
  text-decoration: none;
}

/* Chat Area */

.chat-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Chat Log */

.chat-log {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  width: 95%;
  margin-block: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.no-messages {
  align-self: center;
  margin: auto;
}

.message {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.sent-message {
  align-self: flex-end;
}

.content {
  border-radius: 10px;
  padding: 0.5rem;
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.received-content {
  background-color: var(--input-color);
}

.sent-content {
  background-color: var(--primary-color);
}

.message-metadata {
  display: flex;
  gap: auto;
}

.message-sender {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}

.message-time {
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-inline: auto 1rem;
}

/* Send Message */

.send-message {
  display: flex;
  background-color: var(--input-color);
  width: 95%;
  min-height: 4rem;
  height: 10vh;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.send-message textarea {
  flex: 1;
  background-color: var(--input-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  border: none;
  outline: none;
  overflow-y: auto;
  scrollbar-width: none;
  resize: none;
}

.send-message button {
  background-color: var(--input-color);
  color: var(--secondary-color);
  height: 3rem;
  align-self: flex-end;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border: none;
}

.send-message button:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* Chat Preview List */

.chat-preview-list {
  width: 30%;
  border-right: 2px solid var(--secondary-color);
  overflow-y: auto;
  scrollbar-width: none;
}

.chat-preview,
.chat-invite {
  padding: 1rem;
  margin-inline: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
}

.chat-preview:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border-radius: 10px;
}

.chat-invite-options {
  display: flex;
  gap: 1rem;
}

.chat-invite-options button {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  width: 5rem;
  height: 2rem;
}