:root {
  --primary-color: #2e63e9;
  --secondary-color: #c3c3c3;
  --background-color: #0b0b12;
}

html {
  scrollbar-width: none;
  margin: 0;
  padding: 0;

  /* Font */
  font-family: "Outfit", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-size: clamp(1rem, 4.5vw, 1.5rem);
  height: 100vh;
}

a {
  color: inherit;
}

hr {
  height: 2px;
  background-color: var(--secondary-color);
  border: none;
}

/* Utility Classes */

.primary {
  color: var(--primary-color);
}

.clear-margin {
  margin: auto;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.stack-items {
  display: flex;
  flex-direction: column;
}

/* Responsive Layout */

.container {
  margin: 2vh auto;
  padding-inline: 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
