html {
  overflow: auto;
  scrollbar-width: none;
}

/* Utility classes */

.primary-color {
  color: var(--pico-primary);
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #c84f48;
}